.bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    padding-right: 0;
    border-radius: 25px;
    margin: 15vh auto;
    width: 70%;
}

.bottom-container p {
    color: rgba(255, 255, 255, 0.911);
}

.bottom-1 p {
    color: rgb(247, 255, 15);
    font-size: 1.15vw;
    margin-left: 4%;
    padding-bottom: 5px;
    padding-left: 8px;
    width: 18%;
    border-bottom: 3px solid yellow;
}

.bottom-2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-2 div {
    width: 8vw;
    margin: auto;
    padding-top: 1.8%;
}

/* .bottom-2 div:nth-child(1) {
    border-top: 3px solid yellow;
} */

.sm-text {
    font-size: 0.9vw;
}

.min-max {
    margin-top: 2%;
    margin-bottom: 4%;
}

.condition {
    margin-top: 2%;
}

.condition img {
    aspect-ratio: 1/1;
    width: 2.2vw;
}

.condition p {
    margin-top: 5%;
}

.condition p::first-letter {
    text-transform: capitalize;
}