.mid-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18vh;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

ion-icon {
    --ionicon-stroke-width: 50px;
    font-size: 23px;
    color: rgb(233, 233, 233);
}

.search {
    display: flex;
    align-items: center;
}

.search input {
    width: 50vw;
    border-radius: 12px;
    padding: 4px;
    padding-left: 10px;
    height: 40px;
}

.btn-search {
    display: flex;
    margin-left: 10px;
}

.menu {
    margin-right: 8px;
    padding: 4px;
}

.btn-menu {
    display: flex;
}

.country {
    font-size: 2.5vw;
    font-weight: 600;
    margin-top: 6vh;
    color: rgb(247, 247, 247);
}

.middle {
    display: flex;
    margin-top: 10vh;
    justify-content: space-evenly;
    gap: 10%;
    border-radius: 20px;
    width: 45vw;
    padding: 8px 8px;
}

.mid-container-left {
    background-color: rgba(69, 76, 98, 0.501);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.35vw;
    width: auto;
}

.mid-1-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-1-left img {
    aspect-ratio: 1;
    max-width: 5vw;
}

.mid-2-left {
    margin-left: 8%;
}

.date-time {
    color: white;
    font-weight: bold;
    font-size: 1.35vw;
}

.mid-2-temp {
    font-size: 3vw;
    font-weight: bold;
}

.feel-temp {
    color: white;
    font-size: 1.2vw;
}

.weather-comment {
    color: white;
    font-size: 1.1vw;
}

.weather-comment::first-letter {
    text-transform: capitalize;
}

.mid-container-right {
    /* background-color: rgba(69, 76, 98, 0.501); */
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 1.1vw;
    width: auto;
    display: flex;
    flex-direction: column;
}

.mid-right-p {
    margin-top: 2%;
}

.bold {
    font-weight: 600;
    color: white;
}

.mid-container-right .detail {
    font-weight: bold;
    font-size: 1.2vw;
    color: rgba(255, 255, 255, 0.896);
}

.mid-right-p p {
    color: rgba(255, 255, 255, 0.885);
    margin-top: 5%;
    font-size: 1vw;
}