@media (max-width: 384px) {
    .nav-bar {
        height: 8%;
    }

    .menu {
        padding: 4px;
    }

    ion-icon {
        --ionicon-stroke-width: 50px;
        font-size: 15px;
    }

    .search {
        display: flex;
        align-items: center;
    }

    .search input {
        width: 80vw;
        border-radius: 10px;
        padding-left: 10px;
        height: 30px;
        font-size: 2.5vw;
    }

    .search input::placeholder {
        font-size: 2.5vw;
    }

    .nav-head {
        font-weight: 700;
        font-size: 3.5vw;
        margin-right: auto;
    }

    .country {
        margin-top: 3vh;
        font-size: 5.3vw;
    }

    .mid-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 12vh;
        color: rgb(50, 50, 50);
    }

    .middle {
        margin-top: 5vh;
        border-radius: 10px;
        background-color: rgba(69, 76, 98, 0.501);
        width: 70vw;
        padding: 5px 8px;
    }

    .mid-container-left {
        display: flex;
        width: 55%;
    }

    .date-time {
        font-size: 1.8vw;
    }

    .mid-2-temp {
        font-size: 5vw;
    }

    .feel-temp {
        font-size: 1.6vw;
    }

    .weather-comment {
        font-size: 1.5vw;
    }

    .mid-container-right {
        display: flex;
        flex-direction: column;
    }

    .mid-container-right .detail {
        font-size: 1.7vw;
    }

    .mid-right-p p {
        margin-top: 8%;
        font-size: 1.5vw;
    }
}